.footer {
    background-color: #ffffff; /* Black background */
    color: #000000; /* White text color */
    // padding: 2rem 0;
    text-align: left;
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 5rem;
      flex-wrap: wrap;
  
      .footer-section {
        flex: 1;
        min-width: 200px;
        margin-bottom: 2rem;
  
        h4 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
          color: #000000;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
          }
        }
      }
  
      .about {
        flex: 2; /* Larger space for logo and about section */
  
        .footer-logo img {
          width: 120px; /* Adjust logo size */
          margin-bottom: 1rem;
        }
  
        p {
          font-size: 1.2rem;
          margin-bottom: 1.5rem;
        }
  
        .social-icons {
          a {
            margin: 2rem;
            font-size: 2rem;
            color: #000000;

            .fa-facebook {
              color: #3b5998; /* Facebook Blue */
            }
  
            &:hover {
              color: #e9b4a1; /* Add hover color if needed */
            }
          }
        }
      }
  
      .contact {
        ul {
          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  
    .footer-bottom {
      text-align: center;
      padding-top: 1rem;
      font-size: 0.9rem;
      border-top: 1px solid #444;
    }
  }
  